:root {
    --heading-font-family: "Roboto", serif;
    --paragraph-text-font-family: "Montserrat", serif;
    --my-primary-color: #030811;
    --my-secondary-color: #11406A;
    --my-accent1-color: #B7B8BE;
    --my-accent2-color: #ADD9EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-style: normal;
    color: var(--my-primary-color);
}

h2 {
    font-family: var(--heading-font-family);
    font-weight: 600;
    font-style: normal;
    color: var(--my-primary-color);
    text-align: center;
    display: flex;
}

p {
    font-family: var(--paragraph-text-font-family);
    font-weight: 300;
    font-style:  normal;
    color: var(--my-primary-color);
}

/*Date:26/11/2024: 1ST Updating by editing the header, Navigation,sections and footer */

header {
    margin: 0.3rem auto;
    display: grid;
    grid-template-columns:  2fr 1fr 120px;
    align-items: center;
    background-color: var(--my-primary-color);
    width: 1233px;
    margin-left: 0.8rem;
}

.logo img {
    margin: 1.5rem;
    height: auto;
    width: 125px;
    box-shadow: 0 0 30px gray;
    position: relative;
    left: 150px;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
a {
    display: flex;
    font-family: var(--heading-font-family);
    font-weight: normal;
    color: var(--my-primary-color);
    text-decoration: none;
}

a.button {
    margin: 0;
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    background-color: #dbdce1;
    font-size: 18px;
    line-height: 1.5;
    width: 130px;
}

a:hover {
    color: tomato;
    font-weight: 1000;
    text-decoration: underline;
}

/*Date:05-12-2024 Update done on the body element*/

main {
    max-width: 880px;
}

body {
    max-width: 1233px;
    background-color: rgb(215, 213, 213);
}


div.hero {
    position: relative;
    width: 500px;
    margin: auto;
    height: auto;
    padding: 10px;
}

div.hero h1 {
    position: absolute;
    top: 60px;
    left: 2.1%;
    border: 0.5px solid #232424;
    width: 902px;
    margin: auto;
    background-color: rgba(32, 35, 37, 0.4);
    text-align: center;
    color: #e4e4e6;;
    font-weight: 400;
}

article {
    position: absolute;
    top: 130px;
    left: 100px;
    width: 700px;
    height: 190px;
    background-color: rgba(17, 64, 106, 0.6);
    border: 0.5px solid #000;
	padding: 10px;
}

article p{
    font-family: var(--paragraph-text-font-family);
    font-weight: 500;
    color: #e4e4e6;
    font-size: medium;
}

article img {
    width: 142px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;

}

/*Date:26/11/2024: 2ND Updating by editing the 1st sections*/

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1233px;
    height: 280px;
    margin-top: 0.1rem;
    background-color: rgba(155, 156, 159, 0.3);
    margin-left: 0.8rem;
}

.container-1 p {
    color: var(--my-secondary-color);
    font-weight: 500;
}

aside {
    margin: 1.0rem;
}

.center img {
    text-align: center;
    margin: 1.5rem;
    width: 250px;
    height: auto;
}

.center {
    margin: auto;
    width: 300px;
    /*border: 1px solid black;*/
    justify-items: center;
}

/*Date:27/11/2024: 2ND Updating by editing the 2nd sections and footer */

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1233px;
    height: 350px;
    margin-top: 0.8rem;
    background-color:  rgba(155, 156, 159, 0.3);
    margin-left: 0.8rem;
}

.centering {
    display: flex;
    margin: 1.0rem;
    top: 540px;
    width: 300px;
    position: absolute; 
}

.span {
    display: flex;
    margin-top: 1.7rem;
    gap: 1rem;
}

figure {
    /*border: thin #c0c0c0 solid;*/
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic small sans-serif;
    padding: 0.9px;
    text-align: center;
    width: 220px;
}

footer {
    background-color: var(--my-secondary-color);
    padding: 10px 20px;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 1233px;
    margin-left: 0.8rem;
}

footer p {
    text-align: center;
    font-weight: 500;
    color: white;
}

footer nav {
    padding: 0;
    text-align: right;
}

.sociallinks {
    display: flex
}

/*.sociallinks div {
    text-align: right;

}*/